vendor
__debug_bin
gin-bin

# godotenv
.env

# build
# main
# main.exe

# air
bin
tmp

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store