{{define "title"}}
  {{index . "name"}}
{{end}}

{{define "body"}}
  <main role="main">
    <div class="container">
      <h2 class="mt-4">{{ .message }}</h2>
      <div class="container themed-container">
        <strong>Bahasa Indonesia</strong>
        <p>Saat ini saya sedang berjuang untuk sembuh dari stroke pada tanggal 3 oktober 2018 sampai hari ini. Mengerti sekali dan apa saja tahu saya. Bicaranya saja dan kata-katanya saja dalam bahasa Indonesia sudah agak lupa; sama dengan bahasa Inggris. Bahasa Inggris khususnya lupa atau sulit. Bicara lagi, belajar lagi dan menulis lagi. Insya'Allah.</p>
        <p>Coding dirilis tanggal 7 Januari 2020.</p> 
        <p>Insya'Allah, perlahan-lahan sembuh. Aamiin.</p>

        <p>Allah ﷻ itu Maha Baik. 🙂</p>

        <strong>English (translate[.]google[.]co[.]id)</strong> 
        <p>I am currently struggling to recover from a stroke on October 3 2018 to today. I understand everything and I know everything. Just speaking and just the words in Indonesian is a bit forgetful; same with English. English in particular is forgotten or difficult. Talk again, study again and write again. Insya'Allah.</p>
        <p>The coding released January 7, 2020.</p>
        <p>Insya'Allah, slowly it heals. Amen.</p>

        <p>Allah ﷻ is Most Good. 🙂</p>
      </div>
    </div>
  </main>
{{end}}
