{{define "title"}}
  {{index . "name"}}
{{end}}

{{define "body"}}
  <main role="main">
    <div class="container">
      <h2 class="mt-4">All about Ocki Bagus Pratama!</h2>
      <div class="container themed-container">
        <strong>Bahasa Indonesia</strong>
        <p>Stroke: 03 Okt 2018-hari ini. Dirilis 7 Januari 2020. Coding ini sedikit lupa. Pun, ini Bahasa Inggris lupa lagi. Perlahan-lahan dari stroke. Aamiin.</p>

        <strong>English (translate[.]google[.]co[.]id)</strong> 
        <p>Stroke: 03 Oct 2018-today. Released January 7, 2020. This coding is a little forgotten. This is English forgot again. Little by little from stroke. Aamiin.</p>
      </div>
    </div>
  </main>
{{end}}
