{{define "title"}}
  {{index . "name"}}
{{end}}

{{define "body"}}
  <main role="main">
    <div class="container">
      <h2 class="mt-4">{{ .message }}</h2>
      <div class="container themed-container">
        <strong>Bahasa Indonesia</strong>
        <p>Saya sendang berjuang sembuh dari Stroke pada 03 Oktober 2018-hari ini. Coding ini dirilis 7 Januari 2020, ternyata coding sedikit lupa. Kata-katanya dari Bahasa Indonesia sedikit lupa dan Bahasa Inggris kayaknya sulit. Insya Allah, perlahan-lahan sembuh. Aamiin.</p>

        <p>Allah itu baik. 🙂</p>

        <strong>English (translate[.]google[.]co[.]id)</strong> 
        <p>I'm struggling to recover from a stroke on October 03, 2018-today. This coding was released January 7, 2020, apparently the coding was a little forgotten. The words from Indonesian are a little forgotten and English seems difficult. Insya Allah, slowly recover. Aamiin.</p>

        <p>Allah is good. 🙂</p>
      </div>
    </div>
  </main>
{{end}}
