{{define "title"}}
 {{index . "name"}}
{{end}} 

{{define "body"}}
<main role="main">
  <div class="container">
    <div class="content body">
      <div class="col-md-12">
        <h2 class="mt-4">{{ .name }}</h2>

        <!-- TODO: flash.html -->
        {{ if gt (len .flash.success) 0 }}
          {{ range $index, $value := .flash.success }}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>success:</strong> {{ $value }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {{ end }}
        {{ end }}
        
        {{ if gt (len .flash.error) 0 }}
          {{ range $index, $value := .flash.error }}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>error:</strong> {{ $value }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {{ end }}
        {{ end }}

        <div class="row justify-content-end">
          <a href="/users/add" class="btn btn-info btn-sm btn-flat">
            Add New
          </a>
          <a href="/admin/delete-permanently" class="btn btn-danger btn-sm btn-flat">
            Delete Permanently
          </a>
        </div>
        <div class="row justify-content-end">
            <a href="/users" class="btn btn-link btn-flat">
              All
            </a>
            <a href="/users?admin=all" class="btn btn-link btn-flat">
              Admin
            </a>
            <a href="/users?user=all" class="btn btn-link btn-flat">
              User
            </a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped no-margin">
            <tbody>
              <tr>
                <th style="width: 30px">ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Is Admin</th>
                <th>Action</th>
              </tr>
              {{range $user := .users}}
              <tr>
                <td>
                  {{$user.Model.ID}}
                </td>
                <td>
                  {{$user.Username}}
                </td>
                <td>
                  {{$user.Name}}
                </td>
                <td>
                  {{if eq $user.IsAdmin 1}}
                    yes
                  {{else}}
                    no
                  {{end}}
                </td>
                <td style="width: 195px">
                  <a
                    href="/users/read/{{$user.Model.ID}}"
                    class="btn btn-sm btn-success"
                    >Read</a
                  >
                  <a
                    href="/users/view/{{$user.Model.ID}}"
                    class="btn btn-sm btn-warning"
                    >View</a
                  >
                  {{if eq $user.Model.ID 1}}
                  <button
                    class="btn btn-sm btn-danger"
                    disabled
                    >Delete</button
                  >
                  {{else}}
                  <a
                    href="/users/delete/{{$user.Model.ID}}"
                    class="btn btn-sm btn-danger"
                    >Delete</a
                  >
                  {{end}}
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
{{end}}
